body {
    margin: 0;
    padding: 0
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0
}

* {
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}
.formscreen {
    width: 100%;
    background: #f2f5f8 url(../img/bg.jpg) no-repeat 10% 57%;
    background-size: cover;
}

/*.formscreen_withblocks {
    background: #f2f5f8 url(../img/formscreen_bg1.png) no-repeat left top
}*/

.formscreen__content {
    background: url(../img/formscreen_content.png) no-repeat left bottom;
    background-size: auto 100%;
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end
}

.formscreen__titles {
    padding: 10px;
    margin-left: -10px;
    margin-bottom: 50px;
    -webkit-border-radius: 13px;
    border-radius: 13px;
  /*  background: rgba(255, 255, 255, .8)*/
}

.formscreen__info {
    margin-top: 70px;
    width: 50%;
    max-width: 550px;
    margin-left: 10px
}

.formscreen__title {
    text-transform: uppercase;
    color: #2c4461;
    font-size: 3.875em;
    font-weight: 400
}

.formscreen__boldtitle {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    color: #3694a1;
    font-weight: 800
}

.formscreen__subtitle {
    font-weight: 300;
    color: #4f1e1e;
    text-transform: uppercase;
    font-size: 1.375em;
    line-height: 1
}

.formscreen__text {
    font-size: 1.6875em;
    line-height: 1.1852
}

.formscreen__bold {
    font-weight: 700;
    color: #f6f6f6;

}

.formscreen__list-n-form {
    margin-top: 80px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start
}

.formscreen__list {
    list-style-type: none;
    margin: 0 10px 0 0;
    padding: 0;
    width: -webkit-calc(50% - 10px);
    width: calc(50% - 10px);
    max-width: 220px
}

.formscreen__item {
    font-size: 1em;
    line-height: 1.625;
    background: url(../img/list.png) no-repeat 0 0;
    padding-left: 53px;
    margin-bottom: 35px
}

.formscreen__form {
    width: 50%;
    max-width: 234px
}

.formscreen__blocks {
    width: 95%;
    max-width: 1200px;
    margin: 46px auto 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

.formscreen__block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: -webkit-calc(25% - 10px);
    width: calc(25% - 10px);
    background: #fefefe;
    -webkit-border-radius: 13px;
    border-radius: 13px;
    padding: 35px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 6px 19px 51px -38px rgba(0, 0, 0, .5);
    box-shadow: 6px 19px 51px -38px rgba(0, 0, 0, .5)
}

.formscreen__blockpict {
    margin-bottom: 20px
}

.formscreen__blocktitle {
    font-weight: 700;
    font-size: 1em;
    line-height: 1.375;
    color: #D60C21;
    margin-bottom: 30px
}

.formscreen__blocktext {
    text-align: center
}

.formscreen__picture {
    width: 50%;
}

.formscreen__picture_foreign {
    width: 20%;
}


@media screen and (max-width: 1200px) {
    .formscreen__info {
        width: auto
    }

    .formscreen__picture {
        width: 30%
    }
}

@media screen and (max-width: 991px) {
    .formscreen__item{
        line-height:2.625;
    }
    .formscreen__blocks {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .formscreen__block {
        width: -webkit-calc(50% - 10px);
        width: calc(50% - 10px);
        margin-top: 20px
    }

    .formscreen__info {
        width: 95%;
        max-width: none;
        position: relative;
        margin-left: 0;
        z-index: 10;
        margin-top: 0;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 20px;
        background: #1a1a1ae6;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-border-radius: 13px;
        border-radius: 13px
    }

    .formscreen__title {
        text-align: center
    }

    .formscreen__subtitle {
        text-align: center;
        margin-bottom: 20px
    }

    .formscreen__text {
        text-align: center
    }

    .formscreen__list-n-form {
        margin-top: 40px
    }

    .formscreen__content {
        width: 100%;
        padding: 10px;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-sizing: border-box;
        box-sizing: border-box
    }

    .formscreen__picture {
        width: auto;
        max-width: 32%;
        position: absolute;
        z-index: 99;
        left: 44px;
    }

    .formscreen__picture_foreign {
        width: auto;
        max-width: 60%;
    }

    .formscreen__list {
        max-width: none
    }

    .formscreen__form {
        margin-right: 30px;
        -webkit-border-radius: 13px;
        border-radius: 13px;
        padding: 20px;
        background: #ffffff1f;
    }
}

@media screen and (max-width: 767px) {
    .formscreen__block {
        margin: 10px 0
    }

    .formscreen__list-n-form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .formscreen__list {
        width: 100%
    }

    .formscreen__info {
        width: 100%;
        margin-bottom: 20px;
        background: 0 0
    }

    .formscreen__title {
        font-size: 1.875em
    }

    .formscreen__subtitle {
        font-size: 1.375em
    }

    .formscreen__text {
        font-size: 1.125em
    }

    .formscreen__content {
        padding: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        background: #000000e6
    }

    .formscreen__form {
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
        max-width: 600px;
        width: 95%;
        margin: 10px 0
    }

    .formscreen__picture {
        position: relative;
        max-width: 95%;
        left: 0%;
    }

    .formscreen__picture_foreign {
        max-width: 50%;
    }

    .formscreen__item {
        margin-bottom: 10px
    }
}

@media screen and (max-width: 500px) {
    .formscreen__block {
        width: 100%
    }

    .formscreen__title {
        font-size: 1.5em
    }

    .formscreen__subtitle {
        font-size: 1.125em
    }

    .formscreen__text {
        font-size: 1em
    }
}

.bodyparts {
    width: 100%;
    padding: 14px 0;
    background: #e6f8fb
}

.bodyparts__content {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.bodyparts__title {
    max-width: 300px;
    font-weight: 400;
    font-size: 1.6875em;
    line-height: 1.1852;
    margin-right: 20px
}

.bodyparts__titlebold {
    font-weight: 700
}

.bodyparts__blocks {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 750px
}

.bodyparts__block {
    width: 200px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 16px 0
}

.bodyparts__block:nth-child(4n) {
    width: 140px
}

.bodyparts__pict {
    width: 150px;
    height: 150px;
    -o-object-fit: contain;
    object-fit: contain;
    margin-right: 14px
}

@media screen and (max-width: 1200px) {
    .bodyparts__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .bodyparts__title {
        max-width: none;
        width: 100%;
        text-align: center;
        margin-bottom: 20px
    }

    .bodyparts__blocks {
        width: 100%;
        max-width: none
    }

    .bodyparts__block {
        width: 25%
    }

    .bodyparts__block:nth-child(4n) {
        width: 25%
    }
}

@media screen and (max-width: 767px) {
    .bodyparts__block {
        width: 50%;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .bodyparts__block:nth-child(4n) {
        width: 50%
    }
	
}

@media screen and (max-width: 400px) {
    .bodyparts__block {
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .bodyparts__block:nth-child(4n) {
        width: 100%
    }

    .bodyparts__pict {
        margin-right: 0;
        margin-bottom: 10px
    }
}

.howfast {
    width: 100%;
    padding: 50px 0 90px;;
    background: url(../img/bg.jpg);
    background-size: cover;
}

.howfast__content {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.howfast__titles {
    max-width: 300px;
    margin-right: 20px
}

.howfast__title {
    font-weight: 700;
    font-size: 1.6875em;
    line-height: 1.1852;
    margin: -24px auto 29px;
    color: #f6f6f6;
    text-transform: uppercase;
}
.howfast__text{
    color: #f6f6f6;
}
.howfast__subtitle {
    font-weight: 400;
    font-size: 1em;
    line-height: 1.375
}

.howfast__blocks {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  /*  background: url(../img/howfast.png) top center;
    background-size: cover*/
}

.howfast__block {
    -webkit-border-radius: 13px;
    border-radius: 13px;
    height: 202px;
    width: 240px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 20px
}

.howfast__block:first-of-type {
    margin-left: 0
}

.howfast__percents {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 700
}

.howfast__percent {
    font-size: 2.75em;
    line-height: .7273
}

.howfast__percenttext {
    font-size: 1.125em;
    line-height: 1.7778
}

.howfast__texts {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 1.125;
    text-align: center;
    margin: 10px auto;
    font-weight: 600;
}

@media screen and (max-width: 1200px) {
    .howfast__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .howfast__titles {
        max-width: none;
        width: 100%;
        text-align: center;
        margin-bottom: 30px
    }

    .howfast__title {
        margin-bottom: 10px
    }
}

@media screen and (max-width: 991px) {
    .howfast__blocks {
        width: 100%;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        background: 0 0
    }

    .howfast__block {
        background: #0000008c;
        height: auto;
        width: -webkit-calc(25% - 20px);
        width: calc(25% - 20px);
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 20px;
        margin-left: 0
    }

    .howfast__block:first-of-type {
        margin-left: 0
    }

    .howfast__percents {
        margin-bottom: 10px
    }
}

@media screen and (max-width: 767px) {
    .howfast__blocks {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .howfast__block {
        width: -webkit-calc(50% - 10px);
        width: calc(50% - 10px);
        margin-bottom: 20px
    }
}

@media screen and (max-width: 400px) {
    .howfast__blocks {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .howfast__block {
        width: -webkit-calc(100% - 10px);
        width: calc(100% - 10px);
        max-width: 200px
    }
}

.results {
    width: 100%;
    padding: 94px 0;
    background: #e6f8fb
}

.results__content {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.results__info {
    max-width: 340px;
    margin-right: 10px
}

.results__title {
    font-size: 1.6875em;
    line-height: 1.1852;
    font-weight: 400;
    max-width: 340px
}

.results__title_bold {
    font-weight: 700;
    margin-bottom: 30px
}

.results__text {
    font-size: 1em;
    line-height: 1.375
}

.results__picture {
    max-width: 95%
}

@media screen and (max-width: 1200px) {
    .results__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .results__info {
        max-width: none;
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
        margin-right: 0
    }

    .results__title {
        max-width: none
    }
}

@media screen and (max-width: 991px) {
    .results {
        padding: 30px 0
    }
}

@media screen and (max-width: 767px) {
    .results__title {
        font-size: 1.25em
    }

    .results__title_bold {
        margin-bottom: 10px
    }

    .results__text {
        font-size: 16px
    }
}

.info {
    width: 100%;
    background: #E8E8E8
}

.info__content {
    width: 95%;
    max-width: 1200px;
    margin: 20px auto 0;
    padding: 70px 0 30px;
    background: url(../img/info.png) no-repeat center;
    background-size: contain;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end
}

.info__info {
    max-width: 400px;
    margin-right: 10px;
    margin-bottom: 46px
}

.info__title {
    font-size: 1.6875em;
    line-height: 1.1852;
    font-weight: 400;
    max-width: 340px;
    margin-bottom: 30px
}

.info__bold {
    font-weight: 700
}

.info__picture {
    max-width: 45%
}

@media screen and (max-width: 991px) {
    .info__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        background-size: 20%;
        background-position: center bottom;
        padding: 20px 0 30%
    }

    .info__info {
        width: 100%;
        max-width: none;
        text-align: center
    }

    .info__title {
        max-width: none
    }
}

@media screen and (max-width: 767px) {
    .info {
        padding: 20px 0 0
    }

    .info__title {
        font-size: 1.25em;
        margin-bottom: 10px
    }

    .info__text {
        font-size: 16px
    }
}

.banner {
    width: 100%;
    background: url(../img/bg.jpg) 9%;
    background-size: cover;
    padding: 50px 0 75px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.banner__title {
    font-weight: 400;
    font-size: 1.6875em;
    line-height: 1.1852;
    margin: 0 10px;
    max-width: 1000px;
    text-align: center;
    color: #f6f6f6;
}

.banner__bold {
    font-weight: 700
}

.banner__text {
    font-size: 1em;
    line-height: 1.375;
    max-width: 800px;
    margin: 30px 10px 0;
    text-align: center;
    color: #f6f6f6;
}

@media screen and (max-width: 767px) {
    .banner {
        padding: 20px 0
    }

    .banner__title {
        font-size: 1.25em
    }

    .banner__text {
        margin-top: 10px;
        font-size: 16px
    }
}

.stages {
    width: 100%
}

.stages__blocks {
    width: 95%;
    max-width: 1200px;
    margin: 20px auto 0;
    padding: 50px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.stages__block {
    width: -webkit-calc(50% - 10px);
    width: calc(50% - 10px);
    max-width: 585px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #fefefe;
    -webkit-border-radius: 13px;
    border-radius: 13px;
    margin-bottom: 30px;
    -webkit-box-shadow: 6px 19px 51px -38px rgba(0, 0, 0, .5);
    box-shadow: 6px 19px 51px -38px rgba(0, 0, 0, .5)
}

.stages__block:last-of-type .stages__week {
    top: 40%
}

.stages__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    list-style-type: none
}

.stages__item {
    background: url(../img/list2.png) no-repeat 0 0;
    background-size: 31px 31px;
    min-height: 31px;
    padding-left: 50px;
    max-width: 290px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1em;
    line-height: 1.375
}

.stages__pictpart {
    width: 200px;
    position: relative
}

.stages__pict {
    height: 100%
}

.stages__week {
    position: absolute;
    font-size: .6875em;
    line-height: 1.1;
    text-align: center;
    left: 6%;
    top: 37%;
    color: #fff
}

.stages__week:first-letter {
    font-size: 2em;
    font-weight: 900
}

@media screen and (max-width: 1200px) {
    .stages__blocks {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 0;
        padding: 20px 0
    }

    .stages__block {
        width: 95%;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
}

@media screen and (max-width: 767px) {
    .stages__item {
        font-size: .875em;
        margin-bottom: 10px
    }
}

@media screen and (max-width: 500px) {
    .stages__block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 10px
    }
}

.about {
    width: 100%;
    background: url(../img/bg.jpg) 9%;
    background-size: cover;
}

.about__content {
    width: 95%;
    max-width: 1200px;
    margin: 20px auto 0;
    padding: 70px 0 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start
}

.about__info {
    max-width: 460px;
    margin-right: 10px;
    margin-bottom: 46px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start
}

.about__title {
    font-size: 1.6875em;
    line-height: 1.1852;
    font-weight: 400;
    margin-bottom: 30px;
    color: #f6f6f6;
}

.about__text {
    font-size: 1em;
    line-height: 1.375;
    margin-bottom: 15px
}

.about__link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 10px;
    font-size: 1em;
    line-height: 1.375;
    color: #fff;
    font-weight: 700;
    width: 100%;
    max-width: 360px;
    text-decoration: none;
    height: 68px;
    border: none;
    -webkit-border-radius: 13px;
    border-radius: 13px;
    background: #D60C21;
    background: -webkit-gradient(linear, left top, left bottom, from(#f90c23), color-stop(56%, #e40c22), to(#D60C21));
    background: -o-linear-gradient(top, #f90c23 0, #e40c22 56%, #D60C21 100%);
    background: linear-gradient(180deg, #f90c23 0, #e40c22 56%, #D60C21 100%);
}

.about__block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 30px;
    max-width: 660px;
    background: #fefefe;
    -webkit-border-radius: 13px;
    border-radius: 13px;
    margin-bottom: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 6px 19px 51px -38px rgba(0, 0, 0, .5);
    box-shadow: 6px 19px 51px -38px rgba(0, 0, 0, .5)
}

.about__blockpict {
    margin-right: 30px
}

@media screen and (max-width: 1200px) {
    .about__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .about__info {
        width: 100%;
        margin-right: 0;
        max-width: none;
        text-align: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }

    .about__blocks {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }
}

@media screen and (max-width: 767px) {
    .about__content {
        padding: 20px 0
    }

    .about__title {
        font-size: 1.25em;
        margin-bottom: 10px
    }

    .about__text {
        font-size: 16px
    }

    .about__block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center
    }

    .about__blockpict {
        margin-right: 0;
        margin-bottom: 10px
    }
}

.expert {
    width: 100%;
    background: url(../img/expert_bg.png) no-repeat center bottom;
    background-size: 100% 88%
}

.expert__content {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end
}

.expert__info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    max-width: 670px;
    margin: 80px 10px 40px 0
}

.expert__title {
    font-size: 1.6875em;
    line-height: 1.1852;
    font-weight: 400;
    margin-bottom: 30px
}

.expert__boldtitle {
    font-weight: 700
}

.expert__subtitle {
    font-weight: 400;
    font-style: italic;
    font-size: 1em;
    line-height: 1.375;
    margin-bottom: 60px
}

.expert__text {
    font-size: 1em;
    line-height: 1.375;
    margin-bottom: 35px
}

@media screen and (max-width: 991px) {
    .expert {
        background-size: 100% 100%
    }

    .expert__info {
        margin: 20px 0;
        max-width: 95%
    }

    .expert__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .expert__subtitle {
        margin-bottom: 40px
    }

    .expert__text {
        margin-bottom: 10px
    }

    .expert__pict {
        max-width: 95%
    }
}

.feedbacks {
    width: 100%;
    background: #fefefe;
    padding: 60px 0
}

.feedbacks__content {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.feedbacks__title {
    font-size: 1.6875em;
    line-height: 1.1852;
    font-weight: 400;
    margin-bottom: 30px
}

.feedbacks__boldtitle {
    font-weight: 700
}

.feedbacks__slider {
    width: -webkit-calc(100% - 40px);
    width: calc(100% - 40px)
}

.feedbacks__slide {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 70px 50px 40px;
    background: url(../img/feedback_bg.png) no-repeat;
    background-size: 99% 99%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.feedbacks__profile {
    width: 180px;
    margin-right: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.feedbacks__avatar {
    margin-bottom: 30px;
    max-width: 100%
}

.feedbacks__name {
    font-size: 1.1875em;
    line-height: 1.1579;
    font-weight: 700
}

.feedbacks__about {
    font-size: 1.1875em;
    line-height: 1.1579
}
.feedbacks__info{
    padding-top: 30px;
}
.feedbacks__text {
    font-size: 1.2em;
    line-height: 1.5714;
    margin-bottom: 20px
}

.feedbacks__pictures {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.feedbacks__picture {
    margin-right: 20px;
    width: 200px;
    -o-object-fit: cover;
    object-fit: cover
}

.feedbacks .slick-arrow {
    position: absolute;
    top: -webkit-calc(50% - 27px);
    top: calc(50% - 27px);
    background: url(../img/slider_arrow.png) no-repeat;
    background-size: cover;
    width: 54px;
    height: 54px;
    font-size: 0;
    left: -29px;
    border: none;
    outline: 0;
    cursor: pointer;
    z-index: 20
}

.feedbacks .slick-next {
    left: auto;
    right: -29px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

@media screen and (max-width: 767px) {
    .feedbacks {
        padding: 20px 0
    }

    .feedbacks__slide {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        background: 0 0;
        -webkit-border-radius: 13px;
        border-radius: 13px;
        border: 2px dashed #afe3f1;
        padding-top: 20px;
        padding-bottom: 20px
    }

    .feedbacks__profile {
        margin-right: 0;
        margin-bottom: 20px
    }

    .feedbacks__avatar {
        margin-bottom: 10px
    }

    .feedbacks__pictures {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}

.howuse {
    width: 100%;
    background:#E8E8E8;
    background-size: 100% 100%;
    padding: 50px 0 75px
}

.howuse__content {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.howuse__title {
    font-weight: 400;
    font-size: 1.6875em;
    line-height: 1.1852;
    margin: 0 10px;
    max-width: 1000px;
    text-align: center
}

.howuse__bold {
    font-weight: 700
}

.howuse__text {
    font-size: 1em;
    line-height: 1.375;
    max-width: 800px;
    margin: 10px;
    text-align: center
}

.howuse__blocks {
    width: 100%;
    margin-top: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

.howuse__block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: -webkit-calc(33.33% - 10px);
    width: calc(33.33% - 10px);
    background: #fefefe;
    -webkit-border-radius: 13px;
    border-radius: 13px;
    padding: 35px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 6px 19px 51px -38px rgba(0, 0, 0, .5);
    box-shadow: 6px 19px 51px -38px rgba(0, 0, 0, .5)
}

.howuse__circle {
    width: 102px;
    height: 102px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #D60C21;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-weight: 700;
    margin-right: 30px
}

.howuse__num {
    font-size: 2.75em;
    line-height: .5
}

.howuse__circletext {
    margin-top: 5px;
    font-size: .875em;
    line-height: 1.8333
}

.howuse__info {
    font-size: 1em;
    line-height: 1.375
}

@media screen and (max-width: 1200px) {
    .howuse__block {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        width: -webkit-calc(50% - 10px);
        width: calc(50% - 10px);
        margin: 0 auto 10px
    }

    .howuse__blocks {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
}

@media screen and (max-width: 767px) {
    .howuse {
        padding: 20px 0
    }

    .howuse__block {
        width: -webkit-calc(100% - 10px);
        width: calc(100% - 10px)
    }

    .howuse__title {
        font-size: 1.25em;
        margin-bottom: 10px
    }

    .howuse__text {
        font-size: 16px
    }
}

@media screen and (max-width: 767px) {
    .howuse__block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center
    }

    .howuse__circle {
        margin-right: 0;
        margin-bottom: 20px
    }
}

.wrapper {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100vh;
    color: #181818;
    background: rgba(41, 41, 41, .11);
    font-family: Montserrat, sans-serif
}

.form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.form__title {
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.375;
    margin-bottom: 35px;
    max-width: 190px;
    color: #f6f6f6;
}

.form__price {
    width: 100%;
    text-align: center;
    color: #a1a1a1;
    line-height: 1.625;
    font-weight: 700;
    margin-bottom: 26px
}

.form__oldprice {
    margin-right: 10px;
    text-decoration: line-through
}

.form__bluespan {
    color: #D60C21;
    font-size: 1.375em;
    line-height: 1.1818
}

.form__input {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-bottom: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    background: #fff;
    -webkit-border-radius: 13px;
    border-radius: 13px;
    height: 47px;
    padding: 0 20px;
    font-size: .8125em;
    color: #2f2f2f;
    outline: 0
}

.form__input_select {
    cursor: pointer
}

.form__selectbox {
    width: 100%;
    position: relative
}

.form__selectbox:after {
    width: 9px;
    height: 7px;
    position: absolute;
    top: -webkit-calc(50% - 8px);
    top: calc(50% - 8px);
    right: 20px;
    content: '';
    background: url(../img/chevron.png);
    background-size: cover
}

.form__submit {
    font-size: .8125em;
    line-height: 1.3846;
    color: #fff;
    font-weight: 700;
    width: 100%;
    max-width: 186px;
    height: 47px;
    border: none;
    -webkit-border-radius: 13px;
    border-radius: 13px;
    background: #D60C21;
    background: -webkit-gradient(linear, left top, left bottom, from(#f90c23), color-stop(56%, #e40c22), to(#D60C21));
    background: -o-linear-gradient(top, #f90c23 0, #e40c22 56%, #D60C21 100%);
    background: linear-gradient(180deg, #f90c23 0, #e40c22 56%, #D60C21 100%);
    margin-bottom: 18px;
    cursor: pointer
}

.form__timer {
    color: #fff;
    font-size: 1.125em;
    line-height: 1.4444;
    margin-bottom: 15px
}

.form__text {
    color: #515151;
    font-size: .875em;
    line-height: 1.2857;
    text-align: center;
    margin-bottom: 40px
}

@media screen and (max-width: 767px) {
    .form__text {
        margin-bottom: 0
    }
}

.property {
    width: 100%
}

.property__content {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.property__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin-bottom: 40px
}

.property__block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center
}

.property__block_lefttext {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: left
}

.property__block_righttext {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    text-align: right
}

.property__block_bottom {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start
}

.property__block_bottom .property__info {
    margin: 0 20px
}

.property__info {
    margin-top: 20px
}

.property__title {
    font-size: 1.125em;
    line-height: 1.2222;
    text-align: center;
    margin-bottom: 20px
}

.property__text {
    font-size: 1em;
    line-height: 1.375
}

.property__image {
    max-width: 426px
}

@media screen and (max-width: 991px) {
    .property__content {
        padding: 30px 0
    }

    .property__row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 0
    }



    .property__block {
        margin-bottom: 20px
    }

    .property__block_lefttext {
        text-align: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }

    .property__block_righttext {
        text-align: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }

    .property__block_bottom {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .property__block_bottom:last-of-type {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse
    }

    .property__block_bottom .property__info {
        margin: 20px 0 0
    }
}

.foreign-picture {
    width: 20%;
}


.errorMessage{
    box-sizing: border-box;
    position: absolute;
    z-index: 100000;
    font-size: 13px;
    background: #DC3434;
    color: #fff;
    margin-top: 20px;
    text-align: center;
    line-height: 13px;
    padding: 8px 12px;
}

.copyright { font-size: 14px;text-align: center; padding:20px 0;color: #6C6E6F;}
.copyright p { width: 100%; text-align: center; padding: 0; margin: 0; }
.copyright br { display: none; }
.copyright img { margin: 10px auto!important; }
.copyright img:first-child { display: block!important; }
.copyright a {color: #6C6E6F; text-decoration: none;}
.copyright a:hover { color:#FF0069; text-decoration: none; }


